<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity
          assembly="MySql.Data"
          Culture="neutral"
          PublicKeyToken="C5687FC88969C44D" />
      <codeBase
          Version="6.9.6.0"
          href="file://c:/Users/pan/Documents/CSCI344/LoLMatchups/MySql.Data.dll" />
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity
          assembly="MySql.Web"
          Culture="neutral"
          PublicKeyToken="C5687FC88969C44D" />
      <codeBase
          Version="6.9.6.0"
          href="file://c:/Users/pan/fjklgdfkldsfkjlk/MySql.Web.dll" />
    </dependentAssembly>
  </assemblyBinding>
</runtime>