/*Generic page styling*/

body {
	font-family: "Roboto", "Segoe UI", "Helvetica", "Arial", San-serif;
	font-size: 13px;
	margin: 0;
	-background: url(name.jpg) no-repeat center top fixed;
    -background-size: cover;
}

#form1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.center { margin-left: auto; margin-right: auto; text-align: center; }

.fullwidth { width: 100%; }

.upper {
    height: 618px;
    width: 100%;

    background-color:#3f51b5;
    border-bottom: 6px solid #5c6bc0;
}

.fa-btn {
    font-family: "FontAwesome";
}

#summoner-panel {
    width: 80%;
    height: 300px;

    margin-top: 42px;
    margin-left: auto ;
    margin-right: auto ;
    
    border-radius: 4px;
}

#champ_matchup {
    width: 80%;

    margin-top: 50px;
    margin-left: auto ;
    margin-right: auto ;
}

#findSummoner {
    margin-left: 0;
    margin-bottom: 8px;
    background: #fff;
}

.vs-text {
    text-align: center;
    padding-top: 2px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.vs-circle {
    text-align: center;

    padding-left: 6px;
    width: 42px;
    height: 42px;

    color: #fff;
    background-color: #ff4081;

    border-radius: 50%;
}

/*Bootstrap theme for LoLMatchups*/

.navbar-lol {
    background-color:#3949ab;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-lol > a {
    color: #fff;
}

.text-lol {
    border: none;
    height: 42px;
    padding: 9px;
}

.btn-lol {
    height: 42px;
    border: none;
}

.panel-lol {
    color: #fff;
    background: transparent;
    box-shadow: none;
}

.table-lol {
    font-weight: 500;
}

.jumbotron-lol {
    background: transparent;
    border-radius: 4px;
    padding: 7px;
    padding-top: 1px;
    padding-left: 20px;
}

/*ASP.NET default form element styles*/
/*
#search_box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -150px;
    width: 300px;
    height: 50px;
}
#summoner_info {
    position: absolute;
    top: 57%;
    left: 50%;
    margin-top: 0px;
    margin-left: -500px;
    width: 1000px;
    height: 100px;
}
#server_status {
    position: absolute;
    top: 75%;
    left: 50%;
    margin-top: 0px;
    margin-left: -150px;
    width: 300px;
    height: 100px;
}*/